@import url('https://fonts.googleapis.com/css?family=Be+Vietnam:400,500,700&display=swap');

* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

body{

    width: 1440px;
    margin: 0px auto;
    font-family: 'Be Vietnam';
}


@import "variables";
@import "navbar";
@import "header";
@import "footer";
@import "testimonial";
@import "section";

